<section class="home-page-experts row">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-push-1">
                <div class="row">
                    <h2 class="section-title text-center">Experts</h2>
                    <div class="experts-list clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-3 text-center expert-container">
                            <a class="expert-image-wrapper" href="#">
                                <div class="expert-image-circle-container">
                                    <img src="/themes/ceres/assets/images/expert/expert.png" alt="news" class="img-responsive img-circle">
                                </div>
                            </a>
                            <div class="expert-content">
                                <h3><a class="expert-name" href="#">Jackie Miller</a></h3>
                                <p class="expert-org">Organization Name</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 text-center expert-container">
                            <a class="expert-image-wrapper" href="#">
                                <div class="expert-image-circle-container">
                                    <img src="/themes/ceres/assets/images/expert/expert.png" alt="news" class="img-responsive img-circle">
                                </div>
                            </a>
                            <div class="expert-content">
                                <h3><a class="expert-name" href="#">Jackie Miller</a></h3>
                                <p class="expert-org">Organization Name</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 text-center expert-container">
                            <a class="expert-image-wrapper" href="#">
                                <div class="expert-image-circle-container">
                                    <img src="/themes/ceres/assets/images/expert/expert.png" alt="news" class="img-responsive img-circle">
                                </div>
                            </a>
                            <div class="expert-content">
                                <h3><a class="expert-name" href="#">Jackie Miller</a></h3>
                                <p class="expert-org">Organization Name</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 text-center expert-container">
                            <a class="expert-image-wrapper" href="#">
                                <div class="expert-image-circle-container">
                                    <img src="/themes/ceres/assets/images/expert/expert.png" alt="news" class="img-responsive img-circle">
                                </div>
                            </a>
                            <div class="expert-content">
                                <h3><a class="expert-name" href="#">Jackie Miller</a></h3>
                                <p class="expert-org">Organization Name</p>
                            </div>
                        </div>
                    </div>
                    <div class="read-more-wrapper text-center">
                        <a href="#" class="read-more-btn text-uppercase ">More Experts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>