<section class="home-page-experts row">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-push-1">
        <div class="row">
          <h2 class="section-title text-center">{% trans %}Media Contacts{% endtrans %}</h2>
          <div class="experts-list clearfix">
            <div class="flexslider carousel experts-carousel" data-animation="slide" data-animation-speed="400" data-slideshow="false"
                 data-move="1" data-max-items="4 4 2 1" data-animation-loop="false" data-item-width="210" data-item-margin="10" data-control-nav="false">
              <ul class="slides">
                {% for item in items %}
                    <li>
                      {{ item.content }}
                    </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>