.navbar-default{
  .navbar-collapse {
    @media (max-width: $screen-xs-max){
      background-color: rgba(245, 245, 245, 0.9);
    }
    @media (min-width: $screen-md-min){
      padding: 0;
    }
  }

  .navbar-toggle{
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      margin-top: 25px;
      margin-#{$opposite}: 25px;
    }
  }
  .navbar-nav{
    > li{ 
      @media (max-width: $screen-sm-max){
        @include clearfix();
      }
      > a{
        color: $dark-green !important;
        padding: 14px 14px 28px 13px;
        font-weight: 600;
        @media (max-width: $screen-sm-max){
          padding: 14px;
        }
        &:after{
          content: "";
          @include transition-animation();
          position: absolute;
          height: 7px;
          bottom: 0;
          width: 0;
          #{$default}: 0;
          background-color: $hover-light-green;
        }
        a{
          color: $dark-green !important;
        }
      }
      > .dropdown-menu{
        -webkit-backface-visibility: hidden;
        width: 100vw;
        max-width: 100vw;
        text-align: center;
        border: 0;
        border-radius: 0;
        border-top: 1px solid rgba($dark-brown, 0.1);
        padding: 15px 0;
        margin: 0;
        z-index: 0;
        @media (max-width: $screen-sm-max){
          overflow: hidden;
          background-color: transparent;
          position: relative;
          box-shadow: none;
          padding: 0 0 15px;
          text-align: $default;
          border: 0;
        }
        @media(min-width: $screen-md-min){
          position:fixed;
          top: 77px;
          left: 0 !important;
          .toolbar-fixed &{
            top: 117px;
          }
          .toolbar-fixed.toolbar-horizontal.toolbar-tray-open &{
            top: 157px;
          }
        }
        @media(min-width: $screen-lg-min){
          top: 88px;
          .toolbar-fixed &{
            top: 128px;
          }
          .toolbar-fixed.toolbar-horizontal.toolbar-tray-open &{
            top: 168px;
          }
        }

      }
      &:hover > a:after, 
        &.active > a:after{ 
        width: 100%;
      }
      &.dropdown:hover{ 
        > a:after{ 
          width: 100%;
        }
        > .dropdown-menu{
          z-index: 5;
          display: block;
          animation: show 300ms linear;
          animation-fill-mode: forwards;
        }
      }
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
      margin-#{$default}: 15px;
      margin-top: 19px;
      max-width: 62.5%;
      >li > a{
        padding: 10px 7px 28px;
        font-size: 15px;
      }
    }
    @media (min-width: $screen-lg-min){
      margin-#{$default}: 30px;
      margin-top: 26px;
      max-width: 62.5%;
    }
  }
  .caret{
    @media (min-width: $screen-md-min){
      display: none;
    }
  }
}
.sub-navbar-menu-wrapper a{
  color: $dark-green;
  padding: 0 15px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
  &.is-active, &:hover{
    color: #b2b2b2;
  }
  @media (max-width: $screen-sm-max){
    display: block;
    padding: 7px 15px;
  }
}

@-webkit-keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-moz-keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-o-keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
    opacity: 1;
  }
}