<section class="home-page-network row">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-push-1">
        <div class="row">
          <h2 class="section-title text-center">
            {%if paragraph.field_featured_impactstory_title.value %}
              {{ content.field_featured_impactstory_title }}
            {%else%}
              {% trans %}Progress{% endtrans %}
            {%endif%}
          </h2>
          {{ title_suffix }}
          <div class="networks-list fix-badge-height flex-display mar-top-50">
            {{ content.field_featured_impact_story }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>