{% set imageURI = content.field_content_image['#items'].entity.uri.value %}

<a class="network-wrapper text-center"  href="{{ url }}">
  {% if imageURI %}
    {{ content.field_content_image }}
  {% else %}
    <img src="/{{ directory }}/assets/images/campaign/campaign.jpg" alt="campaign" class="img-responsive">
  {% endif %}
  <h3 class="network-title">{{ node.getTitle() }}</h3>
</a>