<a class="news-wrapper" href="{{ url }}">
  <div class="news-img-wrapper">
    {% if node.field_podcast_thumbnail.value %}
      {{ content.field_podcast_thumbnail }}
    {% else %}
      <img src="/{{ directory }}/assets/images/news/desert.jpg" alt="Tool" class="img-responsive">
    {% endif %}
  </div>
  <div class="news-content text-center">
    <h3 class="news-title">{{ node.getTitle() }}</h3>
  </div>
</a>
