{% if node.field_director_bio.entity.field_text_paragraph_body.value %}
  <section class="body-issue-wrapper no-back-border row">
    <div class="container">
      <div class="row">
        {{ content.field_director_bio }}
      </div>
    </div>
  </section>
{% endif %}