<h2 class="universal-section-title text-center">Companies Take Action on Water</h2>
<p class="universal-section-desc text-center">{{ content.field_company_section_desc.0 }}</p>
<div class="news-list flex-display">
    {{ content.field_company_section_content }}
</div>