<section class="intro-wrapper row">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-push-1">
        <div class="row">
          <div class="universal-section-desc {%-if paragraph.field_lead_paragraph.value %} text-center{%-endif%}">
            {{ paragraph.field_basic_text_paragraph_body.value | raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
