<section class="home-page-network row">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-push-1">
        <div class="row">
          <h2 class="section-title text-center">Explore the Ceres Roadmap</h2>
          <div class="networks-list flex-display">
            {{ content.field_roadmap_categories }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>