{% set newsLen = content.field_news['#items'] | length %}
<section class="home-page-news row ">
  <div class="container">
    <div class="row">
      <h2 class="section-title text-center">{% trans %}News{% endtrans %}</h2>
      <div class="news-list more-list">
        {{ content.field_news }}
      </div>
      <div class="read-more-wrapper text-center">
        {% if newsLen > 3 %}
            <a href="/news-center" class="read-more-btn read-more-effect text-uppercase ">
              <span class="hidden-after-more">More News</span>
              <span class="hidden-before-more hidden">See all News</span>
            </a>
        {% else %}
            <a href="/news-center" class="read-more-btn text-uppercase">
              See all News
            </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
