<h2 class="universal-section-title text-center">{{ paragraph.field_info_title.value }}</h2>
<div class="download-section-desc text-center">
  {{ paragraph.field_info_body.value | raw }}
</div>
<div class="read-more-wrapper text-center">
  <a href="{{ paragraph.field_info_link.0.url }}" class="read-more-btn text-uppercase white-back">{{ paragraph.field_info_link.0.title }}</a>
</div>
