<h2 class="universal-section-title text-center">{{ paragraph.field_info_title.value }}</h2>
<div class="download-section-desc text-center">
  {{ paragraph.field_info_body.value | raw }}
</div>
<div class="read-more-wrapper text-center">
  <a href="{{ content.field_info_upload_file.0 }}" class="read-more-btn text-uppercase white-back">Download PDF</a>
</div>
