<div class="roadmap-resource-item borderd-item-before rltv text-center">
  <h4>{{ node.field_job_post_date.value | date("F j, Y") }}</h4>
  <h3><a href="{{ url }}">{{ node.getTitle() }}</a></h3>
</div>