/*widths*/
/*colors*/
/* Incude bootstrap-dialog to make use of Bootstrap Modal more friendly. Examples: http://nakupanda.github.io/bootstrap3-dialog/*/
/*@import "components/bootstrap-dialog";*/
/* Incude bootstrap-social-buttons to make use Social Buttons for Bootstrap. Examples: http://lipis.github.io/bootstrap-social/*/
/*@import "components/bootstrap-social-buttons";*/
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-default .navbar-nav > li > a {
    padding: 14px 9px 27px;
    font-size: 13px; } }

@media (min-width: 1200px) {
  .navbar-default .navbar-nav > li > a {
    padding: 14px 11px 28px; } }

#block-ceres-annual-report-footer {
  clear: left;
  float: left;
  padding-left: 15px; }
  #block-ceres-annual-report-footer a {
    padding: 0;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    background-color: transparent !important; }

.content-text p img {
  display: block;
  max-width: 100%;
  height: auto; }

.content-text p span img {
  max-width: 80vw;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.network-wrapper h3 {
  min-height: 35%; }

.image-title-badge-wrapper .network-title {
  font-size: 18px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .image-title-badge-wrapper .network-title {
      font-size: 16px; } }

.paragraph-list-content ul {
  padding: 0;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none; }
  .paragraph-list-content ul li {
    width: 50%;
    float: left;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 15px 20px; }
    @media (min-width: 768px) {
      .paragraph-list-content ul li {
        width: 33.33333%;
        border-left: 1px solid #edeceb; }
        .paragraph-list-content ul li:nth-child(3n+1) {
          border-left: 0; } }
