<section class="home-page-news row">
  <div class="container">
    <div class="row">
      <div class="news-list flex-display">
        <div class="col-xs-12 blog-list" >
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>
